[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pager]
	log = diff-highlight | less -FRX
	show = diff-highlight | less -FRX
	diff = diff-highlight | less -FRX
	branch = false
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
[alias]
	tree = log --graph --oneline --decorate --all
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[svn]
	rmdir = true
[pull]
	rebase = true
[fetch]
	prune = true

# Keep last:
[include]
	path = .gitconfig.local
