# Case insensitive autocompletion:
set completion-ignore-case on
# Symlinked directories are marked with a slash:
set mark-symlinked-directories on
# Don't ring the bell first time:
set show-all-if-ambiguous on
# Complete as far as ambiguity:
set menu-complete-display-prefix on
# Tab-completion from the middle of a word: (Bash 4)
set skip-completed-text on

# TAB / SHIFT-TAB to cycle through completion:
TAB: menu-complete
"\e[Z": menu-complete-backward

# Use UP and DOWN to search history using existing input:
"\e[A": history-search-backward
"\e[B": history-search-forward
