[mysql]
prompt=[\\c] \\R:\\m:\\s \\u@\\h \\d>\\_

[mysqld]
# Disable strict mode to match production
sql-mode = "NO_ENGINE_SUBSTITUTION"
# Improve local performance, with slight accompanying risk.
innodb_file_per_table = OFF
innodb_flush_log_at_trx_commit = 2
