layout {
    // A bug means templates don't currently play
    // nicely with specified floating panes.
    default_tab_template {
        children
        pane size=1 {
            plugin location="compact-bar"
        }
    }
    tab name="Editor" focus=true {
        pane command="nvim"
    }
    tab name="Console" {
        pane command="bash" start_suspended=true {
            args "-c" "bin/rails console"
        }
    }
    tab name="bin/dev" {
        pane command="bash" start_suspended=true {
            args "-c" "bin/dev"
        }
    }
}
