snippet %
	<% ${0} %>
snippet =
	<%= ${0} %>
snippet #
	<%# ${0} %>
snippet if
	<% if ${1} %>
		${0:${VISUAL}}
	<% end %>
snippet ife
	<% if ${1} %>
		${2:${VISUAL}}
	<% else %>
		${0}
	<% end %>
snippet else
	<% else %>
snippet end
	<% end %>
snippet render
	<%= render ${0} %>
snippet irb
	<% binding.irb %>
