snippet details
	<details>
	  <summary>${1:Summary}</summary>
	
	  ${0:${VISUAL}}
	</details>

snippet screenshots
	### 📸 Screenshots
	
	<details>
	  <summary>${1:Image description}</summary>
	
	  ${2:image-goes-here}
	</details>
	
	${0:details}
